/* @import '@fontsource/exo-2/400.css';
@import '@fontsource/exo-2/400-italic.css';
@import '@fontsource/exo-2/500.css';
@import '@fontsource/exo-2/500-italic.css';
@import '@fontsource/exo-2/700.css';
@import '@fontsource/exo-2/700-italic.css'; */
@import '@fontsource/geist/400.css'; /* regular */
@import '@fontsource/geist/500.css'; /* medium */
@import '@fontsource/geist/700.css'; /* bold */

@import "tailwindcss";
@import "tw-animate-css";

@import "./theme.css";
@import "./variables.css";

@custom-variant dark (&:is(.dark *));

:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
     font-family: 'Geist', system-ui, sans-serif;
  }
}


*:focus {
    outline: none !important;
    box-shadow: none !important;
}